*{
    margin: 2px;
    padding: 5px;
    color: white;
}

body{
  background-color: lightgray;
  font-family: 'Exo', sans-serif;
}

#playagain{
  font-size: 40px;
  color: green;
  background-color: white;
  border-radius: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
}

#container{
  background-image: url('https://img1.etsystatic.com/040/0/5346760/il_fullxfull.615079111_rm1s.jpg');
  height: 800px;
  width: 100%;
  background-position: right top;
}

#btn {
  font-size: 35px;
  border-radius: 40px;
}

#winner {
  font-size: 60px;
  font-weight: bold;
  color: red;
}

#next {
  font-size: 25px;
  border-radius: 40px;
}

#timer {
  font-size: 40px;
  font-weight: bold;

}

#first-score{
  font-size: 30px;
}

#second-score{
  font-size: 30px;
}

#turn{
  font-size: 40px;
}

#ball{
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 30%;

  animation: shoot .3s ease-in-out .5s 10 alternate;
}
@keyframes shoot {
  0% {
    left: 30%;
    top: 80%;
  }
  100% {
    left: 30%;
    top: 82%;
  }
}

#powermeter{
  font-size: 30px;
  border-radius: 20px;
  border: 2px solid white;
  display: inline-block;
  position: absolute;
  top: 82%;
  left: 10%;
}


.basketball{
  height: 110px;
  width: 110px;
}
